<div class="container-fluid">

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>Sign Up For an Account</h2>
        <form class="signup">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="email-input" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="password-input" placeholder="Password">
          </div>
          <div style="display: none" id="alert" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> <span class="msg"></span>
          </div>
          <button type="submit" class="btn btn-default">Sign Up</button>
        </form>
        <br />
        <p>Or log in <a href="/login">here</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>Login Form for Users</h2>
        <form class="login">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="email-input" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="password-input" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-default">Login</button>
        </form>
        <br />
        <p>Or sign up if not already a User <a href="/">here</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <a href="/logout">
        Logout
      </a>
    </div>
    <div class="col-md-6">
      <h2>Welcome <span class="member-name"></span></h2>
    </div>
  </div>


  <div class="row">

    <img src="../assets/img/burger.png" alt="burgerpic">

    <h1>Eat Da Burger!</h1>

  </div>

  <div class="row">

    <div class="col-md-3">

    </div>

    <div class="col-md-3">

      <h3>Yummy Burgers to Eat</h3>

      <ul>
        {{#each burger}}
          {{#unless devoured}}
            {{> burgers/burger-block devour=true}}
          {{/unless}}
        {{/each}}
      </ul>

    </div>

    <div class="col-md-3">

      <h3>Burgers Already Eaten</h3>

      <ul>
        {{#each burger}}
          {{#if devoured}}
            {{> burgers/burger-block-nobutton devour=false}}
          {{/if}}
        {{/each}}
      </ul>

    </div>

  </div>

  <div class="row">

    <h2>Type in a Burger You Would Like to Eat, then click Submit!</h2>

      <div class="form">
        <form id="createburger" class="button-size">
          <textarea type="text" id="newname" name="burger"></textarea>
          <br>
          <button type="submit">Submit</button>
        </form>
      </div>

  </div>

</div>

