html, body {
  height: 100%;
	margin: 0;
	background-image: url("../img/plates.jpg");
	background-position: center;
}

body {
  box-sizing: border-box;
}

form.signup,
form.login {
  margin-top: 50px;
}

h1 {
	text-align: center;
  margin-bottom: 20px;
}

h2 {
	color: white;
}

.selectedWorkout,
#enterWorkout {
	cursor: pointer;
}

fieldset 
	{
		border: 1px solid black;
		margin: 0;
		padding: 10px;       
		position: relative;
		border-radius:4px;
		background-color:white;
		padding-left:10px;
	}	
	
legend
	{
		font-size:14px;
		font-weight:bold;
		margin-bottom: 0px; 
		width: 35%; 
		border: 1px solid #ddd;
		border-radius: 4px; 
		padding: 5px 5px 5px 10px; 
		background-color: #ffffff;
	}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
}