html, body {
  height: 100%;
	margin: 0;
}

body {
  box-sizing: border-box;
  background-image: url("../img/plates.jpg");
  background-position: center;
  background-size: cover;
  background-color: #f8f8f8;
}

.wrapper {
	background-color: #f8f8f8;
	width: 100%;
	padding: 10px;
	border-radius: 4px;
}

/* Change glow around all input fields to yellow from bootstrap's blue */
.form-control:focus {
	border-color: #c6a57b;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(247,247,0,0.6);
}

form.signup,
form.login {
  margin-top: 50px;
}

#loginDiv {
	border-left-style: solid;
	border-color: white;
	border-width: 2px;
	padding-left: 15px;
}

#signupinLogin {
	margin-right: 0px;
}

#signupDiv {
	margin-top: 50px;
}

#pageTitle {
	display: inline-block;
}

span.member-name {
	text-transform: capitalize;
}

span.namebox {
	padding: 5px;
	background-color: #5d4a44;
	color: white;
	display: inline-block; /*this keeps wrapped text padding from obscuring previous lines
	Also, this was still a good exercise for the inline-block. I may take out the background pic*/
	border-radius: 4px;
}

h3 {
	margin-bottom: 0px;
}

label {
	color: white;
}

#exerciseEntryForm {
	margin-top: 10px;
}

button {
	background-color: #f3e0ba;
	margin-top: 10px;
	margin-right: 0px;
	text-decoration: none;
	font-size: 14px;
	color: black;
	border-radius: 4px;
	border-color: #5d4a44;
}

button:focus, button:visited {
	border-color: #c6a57b;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(247,247,0,0.6);
}

span a, a:hover {
	 color: black;
	 text-decoration: none;
 }

.btn:hover {
	margin-top:10px;
}

button.startTimer {
	margin-left: 15px;
	margin-right: 0px;
	margin-bottom: 10px;
	width: 60px;
	height: 60px;
	color: #9e3b29;
	background-color: #f3e0ba;
}

.selectedWorkout, #enterWorkout {
	cursor: pointer;
}

fieldset {
	border: 1px solid black;
	margin: 0;
	padding: 10px;       
	position: relative;
	border-radius:4px;
	background-color: #5d4a44;
	padding-left:10px;
}	
	
legend {
	font-size:14px;
	font-weight:bold;
	margin-bottom: 0px; 
	width: 35%; 
	border: 1px solid #ddd;
	border-radius: 4px; 
	padding: 5px 5px 5px 10px; 
	background-color: #ffffff;
}

#nameWorkoutBorder {
	margin-bottom: 10px;
}

.needTopBorder {
	border-top: 1px solid black;
}

button#exerciseEditSubButton, button#nameSubButton {
	margin-bottom: 20px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: aquamarine;
  color: white;
}

@media only screen and (max-width: 767px) {
	#signupinLogin {
		margin-bottom: 60px;
	}
	
	#logininLogin {
		border-top-style: solid;
		border-color: white;
		border-width: 2px;
		padding-top: 35px;
	}

	#loginDiv {
		border-left-style: none;
	}
  }