html, body {
  height: 100%;
	margin: 0;
}

body {
  box-sizing: border-box;
  background-image: url("../img/plates.jpg");
  background-position: center;
}

form.signup,
form.login {
  margin-top: 50px;
}

span.member-name {
	text-transform: capitalize;
}

span.namebox {
	padding: 5px;
	background-color: saddlebrown;
	color: white;
	display: inline-block; /*this keeps wrapped text padding from obscuring previous lines
	Also, this was still a good exercise for the inline-block. I may take out the background pic*/
}

/*h2, h3, h4, p {
	color: white;
	background-color: brown;
	padding: 5px;
}*/

h3 {
	margin-bottom: 0px;
}

span a {
	color:black;
}

a {
	color: white;
}

label {
	color: white;
}

button {
	margin-top: 10px;
	margin-right: 10px;
	text-decoration: none;
	font-size: 16px;
	color: black;
}

.btn:hover {
	margin-top:10px;
}

button.startTimer {
	margin-left: 15px;
	margin-right: 0px;
}

.selectedWorkout, #enterWorkout {
	cursor: pointer;
}

fieldset {
		border: 1px solid black;
		margin: 0;
		padding: 10px;       
		position: relative;
		border-radius:4px;
		background-color:saddlebrown;
		padding-left:10px;
	}	
	
legend {
		font-size:14px;
		font-weight:bold;
		margin-bottom: 0px; 
		width: 35%; 
		border: 1px solid #ddd;
		border-radius: 4px; 
		padding: 5px 5px 5px 10px; 
		background-color: #ffffff;
	}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
	width: 100%;
	text-align: center;
  background-color: aquamarine;
  color: white;
}